

@{
    ViewData["Title"] = "Restaurangen";
}


<!-- Stor bild-->
<div class="banner" id="restaurant-banner"></div>
<!-- Slut på stor bild-->


<div class="container full-height">
    <h2>Restaurangen</h2>
    <p>
        It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
        software like Aldus PageMaker including versions of Lorem Ipsum
    </p>

    <div class="booking-link-div">
        <a class="orange-text booking-link" asp-area="" asp-controller="RestaurantBooking" asp-action="Create">Boka bord!</a>
    </div>

    <div class="row">

        <div class="col s12 l8 offset-l2">
            <ul class="tabs">
                <li class="tab col s6"><a href="#tab-one" class="orange-text">Meny</a></li>
                <li class="tab col s6"><a href="#tab-two" class="orange-text">Vinlista</a></li>
            </ul>
            <div class="col s12" id="tab-one">




                <h4>Förrätter</h4>
                @foreach (Dish dish in Model.Dish)
                {
                    @if (dish.Type == DishType.Förrätt)
                    {
                        <div class="menu-item">
                            <p class="menu-name">@dish.Name</p>
                            <p class="menu-description">@dish.Description</p>
                            <p class="menu-price">@dish.Price :-</p>
                        </div>
                    }
                }

                <h4>Varmrätter</h4>
                @foreach (Dish dish in Model.Dish)
                {
                    @if (dish.Type == DishType.Varmrätt)
                    {
                        <div class="menu-item">
                            <p class="menu-name">@dish.Name</p>
                            <p class="menu-description">@dish.Description</p>
                            <p class="menu-price">@dish.Price :-</p>
                        </div>
                    }
                }

                <h4>Efterrätter</h4>
                @foreach (Dish dish in Model.Dish)
                {
                    @if (dish.Type == DishType.Efterrätt)
                    {
                        <div class="menu-item">
                            <p class="menu-name">@dish.Name</p>
                            <p class="menu-description">@dish.Description</p>
                            <p class="menu-price">@dish.Price :-</p>
                        </div>
                    }
                }


            </div>
            <div class="col s12" id="tab-two">

                <h4>Röda viner</h4>
                @foreach (Drink drink in Model.Drink)
                {
                    @if (drink.Type == DrinkType.Rött)
                    {
                        <div class="menu-item">
                            <p class="menu-name">@drink.Name</p>
                            <p class="menu-description">@drink.Description</p>
                            <p class="menu-price">@drink.Price :-</p>
                        </div>
                    }
                }

                <h4>Vita viner</h4>
                @foreach (Drink drink in Model.Drink)
                {
                    @if (drink.Type == DrinkType.Vitt)
                    {
                        <div class="menu-item">
                            <p class="menu-name">@drink.Name</p>
                            <p class="menu-description">@drink.Description</p>
                            <p class="menu-price">@drink.Price :-</p>
                        </div>
                    }
                }

                <h4>Roséviner</h4>
                @foreach (Drink drink in Model.Drink)
                {
                    @if (drink.Type == DrinkType.Rosé)
                    {
                        <div class="menu-item">
                            <p class="menu-name">@drink.Name</p>
                            <p class="menu-description">@drink.Description</p>
                            <p class="menu-price">@drink.Price :-</p>
                        </div>
                    }
                }

                <h4>Mousserande viner</h4>
                @foreach (Drink drink in Model.Drink)
                {
                    @if (drink.Type == DrinkType.Mousserande)
                    {
                        <div class="menu-item">
                            <p class="menu-name">@drink.Name</p>
                            <p class="menu-description">@drink.Description</p>
                            <p class="menu-price">@drink.Price :-</p>
                        </div>
                    }
                }

                <h4>Öl & Cider</h4>
                @foreach (Drink drink in Model.Drink)
                {
                    @if (drink.Type == DrinkType.Öl || drink.Type == DrinkType.Cider)
                    {
                        <div class="menu-item">
                            <p class="menu-name">@drink.Name</p>
                            <p class="menu-description">@drink.Description</p>
                            <p class="menu-price">@drink.Price :-</p>
                        </div>
                    }
                }

                <h4>Sprit & Drinkar</h4>
                @foreach (Drink drink in Model.Drink)
                {
                    @if (drink.Type == DrinkType.Sprit)
                    {
                        <div class="menu-item">
                            <p class="menu-name">@drink.Name</p>
                            <p class="menu-description">@drink.Description</p>
                            <p class="menu-price">@drink.Price :-</p>
                        </div>
                    }
                }

                <h4>Alkoholfritt</h4>
                @foreach (Drink drink in Model.Drink)
                {
                    @if (drink.Type == DrinkType.Alkoholfritt)
                    {
                        <div class="menu-item">
                            <p class="menu-name">@drink.Name</p>
                            <p class="menu-description">@drink.Description</p>
                            <p class="menu-price">@drink.Price :-</p>
                        </div>
                    }
                }




            </div>
        </div>



    </div>









</div>


